.App {
  text-align: center;
}

.navbar{
  background-color: #081E74;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.link{
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Helvetica', Arial, sans-serif;
  font-style: italic;
  /* font-family: 'Karla', sans-serif; */
  /* font-family: 'Lora', serif; */
}

.link:hover{
  color: #D1ACED;
}

.studentbutton{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button{
  /* background-color: blue; */
  color: black;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: large;
  cursor: pointer;
}

.home{
  margin-top: 3em;
  margin-left: 3em;
  font-size: large;
}

.table{
  background-color: white;
  border-collapse: collapse; 
  width: 95%;
  margin: auto;
  border: 2px solid white;
  margin-top: 3rem;
}

th, td {
  border-top: 1px solid #E5E5E5; 
  border-bottom: 1px solid #E5E5E5; 
  padding: 8px;
  text-align: left;
  padding: 15px;
}

th {
  background-color: #f2f2f2; 
}